.message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.message > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}
.message__info {
    padding-left: 10px;
}
.message__timestamp {
    font-weight: 300px;
    color: gray;
    font-size: 12px;
}